@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dppx) {
	
	.main {
		left:320;
	}

	.sidebar-title {
		font-size: 20px;
	}

	#sidebarWrap .nav{
		margin-top:40px;
	}

	#sidebarWrap .nav>li {
		padding: 6px 10px;
		padding-right:20px;
	}

	#sidebar .nav>li>i {
		font-size: 25px;
	}

	.value {
		font-size: 25px;
		font-weight: 400;
		width:30%;
	}

	.units {
		font-size: 10px;
		min-width:0px;
		font-weight: 300;
	}

	.title-glyph {
		font-size: 70px;
		margin: 0px 20px;
	}

	.btn-circle {
	    padding: 6px 8px;
	    width: 50px;
	    height: 50px;
	}

	.btn {
	    margin: 0;
	    margin-right: 5px;
	}

	.logo {
		margin-bottom: 40px;
	}

	.logo > img {
		width: 100px;
	}
    /* Retina-specific stuff here */
}